/* CSS Document */

body{padding:0; margin:0; font-size:12px; color:#000;}
a{font-size:12px; color:#333; text-decoration:none}
a:hover{color:#f00 ; text-decoration:underline}
img{border:none}
h1{font-size:14px; margin:15px 0 5px; font-weight:bold; color:#990000; text-align:center}
.aboutpic{border:1px solid #B2C2E3; padding:3px; margin:8px}
.img:visited img{border: 1px solid #B2C2E3;}
.img img{border: 1px solid #B2C2E3;padding:5px;}
.img:hover img{border: 1px solid #3477C5;}
.img:hover{color: #B2C2E3; }
#nav{}
#nav ul{padding:0; margin:0}
#nav li{padding:0 25px; background:url(bg-nav-s.jpg) left no-repeat; float:left; list-style:none}
#nav li a{font-size:14px; font-weight:bold; color:#ECF2FB}
#nav li a:hover{color:#D0D0D0}
#line{border:1px solid #A9B9DA}
#line2{border:1px solid #A9B9DA; margin:8px 0}
#line3{border-top:1px solid #A9B9DA; margin-top:10px; text-align:center; line-height:23px; padding:15px; background:#EEF2FA}
#line4{border:1px solid #A9B9DA; margin-top:5px; line-height:20px; padding:5px}
#title{font-size:24px; font-weight:bold; font-family: Î¢ÈíÑÅºÚ,sans-serif; text-align:center; margin:30px auto 0 auto; letter-spacing:5px}
#body{font-size:14px; line-height:26px; padding:0 20px}
#body a{font-size:14px; color:#000066;}
#body p{ text-indent:2em;}
#lt{text-align:center; color:#333; margin:4px auto; font-size:14px; line-height:23px; font-weight:bold; font-family: Î¢ÈíÑÅºÚ,sans-serif;}
#abt{float:left; color:#333; margin:4px 10px 2px; font-size:14px; line-height:23px; height:26px; font-weight:bold; font-family: Î¢ÈíÑÅºÚ,sans-serif;}
#abta{ text-align:right; margin-right:10px}
#lat{padding:8px 0 8px 20px; font-weight:bold;}
#sc{line-height:20px; text-align:center}
#left {margin:0}
#left ul{margin-left:0px;list-style:none;padding:0;border:0;margin:0;}
#left li {display: inline;list-style-type: none;}
#left li a:link,
#left li a:visited {width:100%; float:left; padding:9px 0; text-align:center; text-decoration: none;color:#333333;background:#F7F7F7;}
#left li a:hover {color:#000;  background-color:#E2EAF5;}
#leftl {margin:0}
#leftl ul{margin-left:0px;list-style:none;padding:0;border:0;margin:0;}
#leftl li {display: inline;list-style-type: none;}
#leftl li a:link,
#leftl li a:visited {width:100%; float:left; padding:9px 0; text-align:left; text-decoration: none;color:#333333;background:#F7F7F7;}
#leftl li a:hover {color:#000;  background-color:#E2EAF5;}
#lefti {margin:0}
#lefti ul{margin-left:0px;list-style:none;padding:0;border:0;margin:0;}
#lefti li {display: inline;list-style-type: none;}
#lefti li a:link,
#lefti li a:visited {width:100%; text-align:center; float:left; padding:9px 0; text-decoration: none;color:#333333;background:#F7F7F7; font-weight:bold}
#lefti li a:hover {color:#000;  background-color:#E2EAF5;}
#lovexin12{width:90px; height:auto; background-color:#EEF2FA; border:1px solid #A9B9DA}
#t{width:auto; height:25px; background-color:#2F7DC7; font-size:14px; font-weight:bold; text-align:center; color:#FFF; padding-top:5px;}
#qq{margin:10px; text-align:center;}
#nav1 {
    height: 35px;
    width: 978px;
	margin:0 auto;
	border: #E0E0E0 1px solid;
	border-top:none;
}
#nav1 ul {
    margin: 0 0 0 50px;
    padding: 0px;
	line-height: 38px;    
    white-space: nowrap;
}
#nav1 li {
    list-style-type: none;
    display: inline;	
}
#nav1 li a { float:left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 17px;
    color: #333333;
	font-size: 13px;
}
#nav1 li a:hover {
    color: #990000; text-decoration:underline;
}
#nav1 span{ display:inline; 
}
